/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

body{
	background-color: #C64A4A;
	position: relative;
}

.giphy{
	background-color: white;
	height: 1350px;
	width: 30%;
	z-index: 5;
	right: 0%;
	position: absolute;
	
}

.clicked{
	display: none;
}

.new-img{
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: -1;
	top: -50px;
}

.wrong-img{
	height: 100px;
	width: 100px;
}

.falling{
	animation: 7s;
	animation-name: falling;
	animation-iteration-count: infinite;
}

@keyframes falling{
	from{
		transform: translateY(0%);
	}

	to{
		transform: translateY(2000%);
	}
}

/* 2. Content ================================= */